# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [120]:
import pandas as pd 
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [121]:
chipo=pd.read_csv("master_data_chipotle.csv",sep="\t")

### Step 3. Assign it to a variable called chipo.

### Step 4. See the first 10 entries

In [122]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [123]:
# Solution 1
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [124]:
# Solution 2
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [125]:
liste_1=list(chipo.columns)
print(len(liste_1))
#or
print(chipo.shape[1])

5
5

### Step 7. Print the name of all the columns.

In [126]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [127]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [128]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [129]:
data=pd.DataFrame(chipo["item_name"].value_counts())
data.head(1)

              count
item_name
Chicken Bowl    726

### Step 10. For the most-ordered item, how many items were ordered?

In [130]:
data.head(1)

              count
item_name
Chicken Bowl    726

### Step 11. What was the most ordered item in the choice_description column?

In [131]:
data1=pd.DataFrame(chipo.groupby("choice_description").sum()["quantity"].sort_values(ascending=False))
data1.head(1)

                    quantity
choice_description
[Diet Coke]              159

### Step 12. How many items were orderd in total?

In [132]:
data1["quantity"].sum()

3590

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [133]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

#### Step 13.b. Create a lambda function and change the type of item price

In [134]:
# Remove non-numeric characters (e.g., dollar signs and spaces) from 'item_price'
chipo['item_price'] = chipo['item_price'].str.replace('$', '').str.strip()

# Convert 'item_price' to a numeric data type (float)
chipo['item_price'] = chipo['item_price'].astype(float)

21.39423118865867

#### Step 13.c. Check the item price type

In [135]:
chipo["item_price"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 4622 entries, 0 to 4621
Series name: item_price
Non-Null Count  Dtype
--------------  -----
4622 non-null   float64
dtypes: float64(1)
memory usage: 36.2 KB

### Step 14. How much was the revenue for the period in the dataset?

In [136]:
value=(chipo["item_price"]*chipo["quantity"]).sum()
print(f"In dataset total revenue is: {value}")

In dataset total revenue is: 39237.02

### Step 15. How many orders were made in the period?

In [137]:
chipo["order_id"].value_counts().count()

1834

In [140]:
# Calculate revenue
chipo['revenue'] = chipo['quantity'] * chipo['item_price']

# Group by 'order_id' and calculate the mean revenue
order_grouped = chipo.groupby(by=['order_id']).sum()
mean_revenue = order_grouped['revenue'].mean()
print(mean_revenue)

21.39423118865867